body {
    background-color:rgb(250,250,250);
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
    font-family: Roboto, var(--bs-font-sans-serif);;
}

a, a:hover {
    color: inherit;
}
a:active {
   text-decoration: underline;
}

blockquote {
    padding: 0 1em;
    color: rgb(115,115,115);
    border-left: .25em solid rgb(200,200,200);
}

.container {
    background-color:rgb(255,255,255);
    padding: 1rem;
}

.main {
    margin-bottom: 0.5rem;
}

.content > h1, .content > h2, .content > h3 {
    padding-top: 1.0rem;
    margin-bottom: 1.0rem;
}

.list-title {
    padding-top: 2.0rem;
    margin-bottom: 1.0rem;
}

.content > a {
    text-decoration: underline;
}

.footer > p {
    margin-bottom: 0rem;
}