@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Open+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a:hover {
    @apply underline;
}

blockquote {
    @apply mb-4;
    @apply px-4;
    color: rgb(115,115,115);
    border-left: .25em solid rgb(200,200,200);
}

.content > h1, h2, h3, h4, h5 {
    font-family: 'Open Sans', system-ui, sans-serif;
    @apply mt-6;
    @apply mb-4;
}

.content > h1 {
    @apply text-4xl;
    @apply font-medium;
}

.content > h2 {
    @apply text-3xl;
    @apply font-medium;
}

.content > h3 {
    @apply text-2xl;
    @apply font-medium;
}

.content > h4 {
    @apply font-medium;
}

.content > h5 {
    @apply font-medium;
}

.content > p {
    @apply mb-4;
}

.content > ul {
    @apply mb-4;
    @apply pl-8;
    @apply list-disc;
}

.content > div > pre {
    @apply mb-4;
    @apply p-4;
}
