{{ define "main" }}
<div class="container main">
    <div class="container content col-10 offset-1">
        <h1 class="section-title"><a class="text-decoration-none" href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
        {{if .Sections }}
        <!-- This is a list page for a Section containing Sections -->
        <div class="border-bottom"></div>
        {{ range sort .Sections ".Params.order_number" }}
        <h2 class="section-title"><a class="text-decoration-none" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        <ul>
            {{ range sort .Pages ".Params.order_number"}}
            <li>
                <h5><a href="{{ .RelPermalink }}">{{ .Title }}</a></h5>
                <p>{{ .Summary }}</p>
            </li>
            {{ end }}
        </ul>
        {{ end }}
        {{ else if .Pages }}
        <!-- This is a list page for a Section containing only Pages -->
        <div class="border-bottom"></div>
        <ul>
            {{ range sort .Pages ".Params.order_number"}}
            <li>
                <h5><a href="{{ .RelPermalink }}">{{ .Title }}</a></h5>
                <p>{{ .Summary }}</p>
            </li>
            {{ end }}
        </ul>
        {{ end }}
    </div>
</div>
{{ end }}