<div class="container border-bottom">
    <div class="row" style="line-height: 3em; font-family: Roboto Mono; padding-top: 1rem; padding-bottom: 1rem;">
        <div class="col-md-4 col-xs-12 fs-3 text-center">
            francoposa.io
        </div>
        <div class="col-md-2 col-xs-0 fs-5 text-center"></div>
        <div class="col-md-2 col-xs-6 fs-5 text-center">
            projects
        </div>
        <div class="col-md-2 col-xs-6 fs-5 text-center">
            resources
        </div>
        <div class="col-md-2 col-xs-6 fs-5 text-center">
            about
        </div>
    </div>
</div>