<div class="container" style="margin-bottom: 0.5rem; padding: 1.5rem 1.0rem 0.75rem 1.0rem;">
    <div class="row" style="line-height: 2.5em; font-family: 'Courier Prime'; ">
        <div class="col-md-4 col-xs-12 fs-3 text-center">
            <a class="text-decoration-none" href="/">francoposa.io</a>
        </div>
        <div class="col-md-2 col-xs-0 fs-5 text-center"></div>
        <div class="col-md-2 col-xs-6 fs-5 text-center">
            <a class="{{- if and (not .IsHome) (in .Permalink "projects") -}}text-decoration-underline{{- else -}}text-decoration-none{{- end -}}"
                href="/">projects</a>
        </div>
        <div class="col-md-2 col-xs-6 fs-5 text-center">
            <a class="{{- if and (not .IsHome) (in .Permalink "resources") -}}text-decoration-underline{{- else -}}text-decoration-none{{- end -}}"
                href="/resources">resources</a>
        </div>
        <div class="col-md-2 col-xs-6 fs-5 text-center">
            <a class="{{- if and (not .IsHome) (in .Permalink "about") -}}text-decoration-underline{{- else -}}text-decoration-none{{- end -}}"
                href="/about">about</a>
        </div>
    </div>
</div>