{{ define "main" }}
<div class="container main">
    <div class="container content">
        {{ range sort .Sections ".Params.order_number" }}
        <h2 class="section-title"><a class="text-decoration-none" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        <div class="border-bottom"></div>
        {{ range sort .Sections ".Params.order_number" }}
        <h3 class="section-title"><a class="text-decoration-none" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        <ul>
            {{ range sort .Pages ".Params.order_number"}}
            <li>
                <p><a href="{{ .RelPermalink }}">{{ .Title }}</a></p>
            </li>
            {{ end }}
        </ul>
        {{ end }}
        {{ end }}
    </div>
</div>
{{ end }}
